<% if (blog_list.length > 0){ %>
<% for (let data of blog_list){ %>
    <div class="blog-box">
        <div class="d-flex flex-wrap">
            <div class="posts-thumb align-self-stretch">
                <a href="#"> <span class="fullimage">
                    <img src="<%= data.slides %>" alt="">
                </span> </a>
            </div>
            <div class="posts-content">
                <div class="cat"><a href="#">Fashion</a></div>
                <h3 class="title"><a href="Javascript: void(0)"><%= data.title %></a></h3>
                <div class="posts-meta">
                    <span class="posts-date ps-0">
                        <!-- get date -->
                        <%= new Date(data.createdAt).toDateString() %>
                    </span>
                <!-- <div class="posts-meta"><span class="posts-date ps-0"><%= new Date(data.createdAt).getDate(); %>-<%= new Date(data.createdAt).getMonth(); %></span> -->
                </div>
                <div class="blog_content">
                    <%- data.content %>
                </div>
                <a href="/post-detail/<%= data.id %>" class="read-more-btn"><span>Read More</span> <i
                        class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>

<%}%>
<%} else {%>
<p>No Data Found</p>
<%}%>

<div class="pagination-area">
    <a href="#" class="prev page-numbers"><i class="icofont-double-left"></i></a> <a
        href="#" class="page-numbers">1</a> <span class="page-numbers current"
        aria-current="page">2</span>
    <a href="#" class="page-numbers">3</a> <a href="#" class="page-numbers">4</a> <a
        href="#" class="next page-numbers"><i class="icofont-double-right"></i></a>
</div>
