<%- include('../shared/head') %>
</head>
<body>
    <%- include('../shared/header.ejs') %>
    <!-- Home Before Login -->
    <%- include('../components/home-before.component.ejs') %>

    <!-- Home After Login -->
    <%- //include('../components/home-after.component.ejs') %>

    <%- include('../shared/footer.ejs') %>
    <%- include('../shared/scripts.ejs') %>
</body>
</html>