<%- include('../shared/head') %>
</head>
<body>
    <%- include('../shared/header.ejs') %>
    <%- include('../components/post-detail.component.ejs') %>
    <%- include('../shared/footer.ejs') %>
    <%- include('../shared/scripts.ejs') %>
</body>
</html>