<!-- Start News Details Area -->
<section class="news-details-area pb-40">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icofont-home"></i> Home</a></li>
            <li><i class="icofont-rounded-right"></i></li>
            <li><a href="#">Blog</a></li>
            <li><i class="icofont-rounded-right"></i></li>
            <li>Post</li>
        </ul>

        <% if(postData != null){ %>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="news-details">
                    <div class="article-img">
                        <img src="../<%= postData.slides %>" alt="image">
                    </div>

                    <div class="article-content">
                        <ul class="entry-meta">
                            <li><i class="icofont-user"></i> <a href="#">Sinmun</a></li>
                            <li><i class="icofont-eye-alt"></i> 1040</li>
                            <li><i class="icofont-calendar"></i> 
                                <%= new Date(postData.createdAt).toDateString() %>
                            </li>
                        </ul>

                        <h3><%= postData.title %></h3>

                        <div class="blog_content">
                            <%- postData.content %>
                        </div>
                    </div>
                </div>

                <div class="post-controls-buttons">
                    <div>
                        <a href="#">Prev Post</a>
                    </div>

                    <div>
                        <a href="/post-detail/<%= postData.id + 1 %>">Next Post</a>
                    </div>
                </div>

                <div class="comments-area">
                    <h3 class="comments-title">2 Comments:</h3>

                    <ol class="comment-list">
                        <li class="comment">
                            <article class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="/theme/front/assets/img/author1.jpg" class="avatar" alt="image">
                                        <b class="fn">Sinmun</b>
                                        <span class="says">says:</span>
                                    </div>

                                    <div class="comment-metadata">
                                        <a href="#">
                                            <time>April 24, 2021 at 10:59 am</time>
                                        </a>
                                    </div>
                                </footer>

                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>

                                <div class="reply">
                                    <a href="#" class="comment-reply-link">Reply</a>
                                </div>
                            </article>

                            <ol class="children">
                                <li class="comment">
                                    <article class="comment-body">
                                        <footer class="comment-meta">
                                            <div class="comment-author vcard">
                                                <img src="/theme/front/assets/img/author1.jpg" class="avatar" alt="image">
                                                <b class="fn">Sinmun</b>
                                                <span class="says">says:</span>
                                            </div>

                                            <div class="comment-metadata">
                                                <a href="#">
                                                    <time>April 24, 2021 at 10:59 am</time>
                                                </a>
                                            </div>
                                        </footer>

                                        <div class="comment-content">
                                            <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>

                                        <div class="reply">
                                            <a href="#" class="comment-reply-link">Reply</a>
                                        </div>
                                    </article>
                                </li>
                            </ol>
                        </li>

                        <li class="comment">
                            <article class="comment-body">
                                <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                        <img src="/theme/front/assets/img/author1.jpg" class="avatar" alt="image">
                                        <b class="fn">Sinmun</b>
                                        <span class="says">says:</span>
                                    </div>

                                    <div class="comment-metadata">
                                        <a href="#">
                                            <time>April 24, 2021 at 10:59 am</time>
                                        </a>
                                    </div>
                                </footer>

                                <div class="comment-content">
                                    <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                </div>

                                <div class="reply">
                                    <a href="#" class="comment-reply-link">Reply</a>
                                </div>
                            </article>
                        </li>
                    </ol>

                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Leave a Reply</h3>

                        <form class="comment-form">
                            <p class="comment-notes">
                                <span id="email-notes">Your email address will not be published.</span>
                                 Required fields are marked 
                                <span class="required">*</span>
                            </p>
                            <p class="comment-form-comment">
                                <label for="comment">Comment</label>
                                <textarea name="comment" id="comment" cols="45" rows="5" maxlength="65525" required="required"></textarea>
                            </p>
                            <p class="comment-form-author">
                                <label for="name">Name <span class="required">*</span></label>
                                <input type="text" id="author" name="author" required="required">
                            </p>
                            <p class="comment-form-email">
                                <label for="email">Email <span class="required">*</span></label>
                                <input type="email" id="email" name="email" required="required">
                            </p>
                            <p class="comment-form-url">
                                <label for="url">Website</label>
                                <input type="url" id="url" name="url">
                            </p>
                            <p class="comment-form-cookies-consent">
                                <input type="checkbox" value="yes" name="wp-comment-cookies-consent" id="wp-comment-cookies-consent">
                                <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                            </p>
                            <p class="form-submit">
                                <input type="submit" name="submit" id="submit" class="submit" value="Post Comment">
                            </p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">
                    <section class="widget widget_search">
                        <form class="search-form">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search here...">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </section>

                    <section class="widget widget_recent_entries">
                        <h3 class="widget-title">Recent Posts</h3>

                        <ul>
                            <li><a href="#">How to Become a Successful Entry Level UX Designer</a></li>
                            <li><a href="#">How to start your business as an entrepreneur</a></li>
                            <li><a href="#">How to be a successful entrepreneur</a></li>
                            <li><a href="#">How to Become a Successful Entry Level UX Designer</a></li>
                            <li><a href="#">Protect your workplace from cyber attacks</a></li>
                        </ul>
                    </section>

                    <section class="widget widget_recent_comments">
                        <h3 class="widget-title">Recent Comments</h3>

                        <ul>
                            <li>
                                <span class="comment-author-link">
                                    <a href="#">A WordPress Commenter</a>
                                </span>
                                on
                                <a href="#">Hello world!</a>
                            </li>
                            <li>
                                <span class="comment-author-link">
                                    <a href="#">Sinmun</a>
                                </span>
                                on
                                <a href="#">Hello world!</a>
                            </li>
                            <li>
                                <span class="comment-author-link">
                                    <a href="#">Wordpress</a>
                                </span>
                                on
                                <a href="#">Hello world!</a>
                            </li>
                            <li>
                                <span class="comment-author-link">
                                    <a href="#">A WordPress Commenter</a>
                                </span>
                                on
                                <a href="#">Hello world!</a>
                            </li>
                            <li>
                                <span class="comment-author-link">
                                    <a href="#">Sinmun</a>
                                </span>
                                on
                                <a href="#">Hello world!</a>
                            </li>
                        </ul>
                    </section>

                    <section class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>

                        <ul>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </section>


                    <section class="widget widget_tag_cloud">
                        <h3 class="widget-title">Tags</h3>

                        <div class="tagcloud">
                            <a href="#">Business <span class="tag-link-count"> (3)</span></a>
                            <a href="#">Design <span class="tag-link-count"> (3)</span></a>
                            <a href="#">IT <span class="tag-link-count"> (2)</span></a>
                            <a href="#">Marketing <span class="tag-link-count"> (2)</span></a>
                            <a href="#">Mobile <span class="tag-link-count"> (1)</span></a>
                            <a href="#">Protect <span class="tag-link-count"> (1)</span></a>
                            <a href="#">Startup <span class="tag-link-count"> (1)</span></a>
                            <a href="#">Tips <span class="tag-link-count"> (2)</span></a>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
        <%} else {%>
            <p>No Data Found</p>
        <%}%>
    </div>
</section>
<!-- End News Details Area -->

<!-- Start More News Area -->
<section class="more-news-area">
    <div class="container">
        <div class="more-news-inner">
            <div class="section-title">
                <h2>Related Posts</h2>
            </div>

            <div class="row">
                <div class="more-news-slides owl-carousel owl-theme">
                    <div class="col-lg-12 col-md-12">
                        <div class="single-more-news">
                            <img src="/theme/front/assets/img/1.jpg" alt="image">

                            <div class="news-content">
                                <ul>
                                    <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                    <li><i class="icofont-calendar"></i> March 22, 2021</li>
                                </ul>
                                <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                            </div>

                            <div class="tags bg-2">
                                <a href="#">Sports</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-more-news">
                            <img src="/theme/front/assets/img/2.jpg" alt="image">

                            <div class="news-content">
                                <ul>
                                    <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                    <li><i class="icofont-calendar"></i> March 22, 2021</li>
                                </ul>
                                <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                            </div>

                            <div class="tags bg-3">
                                <a href="#">Sports</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-more-news">
                            <img src="/theme/front/assets/img/3.jpg" alt="image">

                            <div class="news-content">
                                <ul>
                                    <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                    <li><i class="icofont-calendar"></i> March 22, 2021</li>
                                </ul>
                                <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                            </div>

                            <div class="tags bg-4">
                                <a href="#">Sports</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="single-more-news">
                            <img src="/theme/front/assets/img/4.jpg" alt="image">

                            <div class="news-content">
                                <ul>
                                    <li><i class="icofont-user-suited"></i> by <a href="#">John Smith</a></li>
                                    <li><i class="icofont-calendar"></i> March 22, 2021</li>
                                </ul>
                                <h3><a href="#">As well as stopping goals, Cristiane Endler is opening doors.</a></h3>
                            </div>

                            <div class="tags bg-5">
                                <a href="#">Sports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End More News Area -->