<%- include('includes/head.ejs') %>
</head>

<body>
	<!-- Start Header Area -->
	<%- include('includes/header.ejs') %>
	<!-- End Header Area -->

	<!-- Start Blogs Page Component -->
	<%- include('pages/orders-component.ejs') %>
	<!-- End Home Page Component -->

	<!-- start Blogs Area -->
	<%- include('includes/footer.ejs') %>
	<!-- End footer Area -->

	<!-- start scripts area -->
	<%- include('includes/scripts.ejs') %>
	<!-- end scripts area -->
	
</body>
</html>