<%- include('includes/head.ejs') %>
</head>

<body>
	<!-- Start Header Area -->
	<%- include('includes/header.ejs') %>
	<!-- End Header Area -->

	<!-- Start Product Detail Page Component -->
	<%- include('pages/product-detail-component.ejs') %>
	<!-- End Product Detail Page Component -->

	<!-- start footer Area -->
	<%- include('includes/footer.ejs') %>
	<!-- End footer Area -->

	<!-- start scripts area -->
	<%- include('includes/scripts.ejs') %>
	<!-- end scripts area -->
</body>
</html>